export(FAMILY)
importFrom(pheatmap, pheatmap)
import(pROC)


S3method(coef, FAMILY)
S3method(predict, FAMILY)
S3method(print, FAMILY)

S3method(plot, interac)
S3method(print, interac)
S3method(print, coefMISH)
